@import "tailwindcss";

:root {
  background-color: #0f172b;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 15vh; /* deja espacio arriba para que la sección quede centrada */
}

html,
body {
  min-width: 200px;
  max-width: 10240px;
  margin: 0 auto;
  height: 100vh;
  /* Asegura que ocupe toda la altura de la pantalla */
  display: flex;
  align-items: flex-start;
  /* Alinea al inicio (top) verticalmente */
  justify-content: center;
  /* Centra horizontalmente */
  position: relative;
}

.custom-resize-handle::-webkit-resizer {
  /* color: Puedes usar cualquier color, por ejemplo, un gris de Tailwind */

  display: hidden;
}

.custom-scrollbar {
  scrollbar-width: thin; /* o 'auto' */
  scrollbar-color: #1e2939 #1e2939; /* gray-700 (thumb) gray-300 (track) */
  border-radius: 12px;
  /* El borde es para asegurar que el color del thumb sea visible si el track es transparente */
}
